.header {
  padding-top: rem(20px);
  padding-bottom: rem(60px);
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-8));
  margin-bottom: var(--mantine-spacing-xl);

  @mixin smaller-than $mantine-breakpoint-sm {
    padding-top: rem(60px);
    padding-bottom: rem(40px);
  }
}

.title {
  margin-top: rem(30px);
  font-size: rem(50px);
  text-wrap: balance;
  color: var(--mantine-color-bright);

  @mixin smaller-than $mantine-breakpoint-sm {
    font-size: rem(32px);
  }
}

.links {
  margin-top: var(--mantine-spacing-lg);
}
