.group {
  & + & {
    margin-top: rem(50px);
  }
}

.question {
  display: block;
  font-size: var(--mantine-font-size-xl);
  text-decoration: none;
  color: var(--mantine-color-text);
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  }
}

.category {
  line-height: 1;
  margin: 0;
  padding: 0;
  margin-bottom: var(--mantine-spacing-xs);
  display: inline-block;
  font-size: var(--mantine-font-size-xl);
  color: var(--mantine-color-bright);
  font-family: 'Greycliff CF', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
